

{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<button class="show_navbar">
    <img src="/static/res/menu.png" alt="">
</button>

<div class="navbar">

    <button class="close">
        <img src="/static/res/close_button_white.png" alt="">
    </button>

    <div class="menu_overall">

        <button class="drop_down_menu_button">...</button>
        <div class="menu">
            <ul>
                <li id = "signout" > <a href="/signout">SIGN OUT</a>  </li>
                <!-- <li > <span id = "change_password" >CHANGE PASSWORD</span>  </li> -->
            </ul>

        </div>

    </div>

    <div class="profile">

        <img src="{% static 'res/profile.png' %}" alt="profile_pic" class="profile_pic">
        <span class="username"></span>

    </div>

    <div class="links">

        <ul>

            {% if type == "manager" %}
     
            <li><a href="statistics">  <span class="link-text">Statistics</span></a></li>
            {% endif %}
            <li><a href="all_tasks">  <span class="link-text">All Tasks</span></a></li>
            <li><a href="assigned">  <span class="link-text">Assigned</span></a></li>
            <li><a href="completed">  <span class="link-text">Completed</span> </span></a> <span id="new_completed_works"></span></li>
            <li><a href="in_progress">  <span class="link-text">In Progress</span></a></li>
            <li><a href="pending">  <span class="link-text">Pending</span></a></span>  </li>
        </ul>

    </div>

    <div class="logo"></div>

</div>

<script src="{% static 'js/navbar.js' %}"></script>


