<div class="statbox_grid">
    <div class="stat_box" id="box1">
        <span class="title">TOTAL</span>
        <span class="number">{{all_tasks_count}}</span>
    </div>
    <div class="stat_box" id="box2">
        <span class="title">COMPLETED</span>
        <span class="number">{{completed_count}}</span>
    </div>
    <div class="stat_box" id="box3">
        <span class="title">IN PROGRESS</span>
        <span class="number">{{in_progress_count}}</span>
    </div>
    <div class="stat_box" id="box4">
        <span class="title">DEADLINE</span>
        <span class="number">{{pending_count}}</span>
    </div>
</div>