

.singleTask{
    display: flex;
    flex-direction: column;
    /* align-items: f; */
    padding: 5%;
}



.status{
    display: none;

}

.confirm{
    display: none;
}

.title{
    font-family: sans-serif;

}

.status_shower{
    font-family: sans-serif;
    /* color: red; */

}

/* taskslist end */


/* new task */

.new_task{
    position: fixed;
    height: max-content;
    width: 50vw;
    background-color: white;
    box-shadow: var(--shadow1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px;
    border: 2px solid black;
    display: none;
}

.new_task form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    

}

.description{
    padding: 5px;
}

.new_task form input {
    margin: 10px;
    padding: 10px;
}

#create_task_submit{
    background-color: blue;
    color: white;
    border: 0px;
    padding: 10px 10px;
    margin: 20px 0px;

}

.close_task_create{
    width: min-content;
    background-color: transparent;
    border: 0px;
    margin-left: auto;

}

.close_task_create img{
    width: 15px;
    height: 15px;
}

#createTask{
    background-color: blue;
    color: white;
    padding: 15px;
    transform: translate(-59%);
    border: 0px;
    shape-outside: var(--shadow1);
    margin-left: 50%;
    margin-bottom: 20px;
}

#new{
    
    
    
    width: 80%;
    margin-bottom: 30px;
    /* margin-left: auto; */

  

}
#new span{
    width: min-content;

    background-color: rgb(85, 246, 85);
    padding: 7px;
    font-family: sans-serif;
}

.details{
    display: flex;
    flex-direction: row;
    width: 80%;
    /* background-color: red; */
    

}

.details > *{
    width: 30%;
    margin: 20px;
}

.assigned_to{
    font-family: sans-serif;
}


